{% extends 'base.html' %}

{% block head %}
<title>Stoff</title>
{% endblock %}

{% block body %}
<h1>Добро пожаловать в Stoff</h1>
<div class="content">
  <h3>Новости Stoff</h3>
  <div class="posts">
      {% for post in posts %}
        <div class="post">
          <p>&mdash;&mdash;&mdash;&mdash;&mdash;</p>
            <p> {{ post.content }} </p>
            <p><b> {{ post.author }} </b><i> {{ post.date_posted.date() }} {{ post.date_posted.hour }}:
              {% if post.date_posted.minute < 10 %}
              0
              {% endif %}
            {{ post.date_posted.hour }}</i></p>
          <p>&mdash;&mdash;&mdash;&mdash;&mdash;</p>
        </div>
      {% endfor %}
  </div>
  <form class="post_create" action="/" method="POST">
    <input type="text" name="post_author" id="post_author" placeholder="Автор">
    <input type="textarea" name="post_content" id="post_content" placeholder="Текст новости">
    <input type="submit" value="Опубликовать">
  </form>
</div>

{% endblock %}
